.container{
    height:600px;
    width:800px;
    display:grid;
    gap:7px;
    grid-template-columns:repeat(3,200px);
    grid-template-rows: 1fr 1fr 1fr;
}
.box{
    border: 2px solid palevioletred;
}
.box1{
    grid-row: 1/4;
}
.box2{
    grid-column: 2/4;

}
.box3{
    grid-column: 4/5;
}
.box4{
    grid-row:2/3;
}
.box5{
    grid-row: 2/3;
}
.box6{
    grid-row:2/4;
}