*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-image:url(./bg-desktop.png);
    background-position:initial;
    background-color: hsl(228, 56%, 26%);
    background-repeat: no-repeat;
    
}
.container{
    display: flex;
    justify-content: center;
    gap: 20px;
    position: relative;
    top:300px;


}
.box1{
    height: 70px;
    width: 200px;
    background-color: blueviolet;
}
.box2{
    height: 50px;
    width: 300px;
    background-color: chartreuse;
}