
@import url('https://fonts.googleapis.com/css2?family=Bai+Jamjuree:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;1,200;1,300;1,400;1,500;1,600;1,700&family=Barlow+Semi+Condensed:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Hanken+Grotesk:ital,wght@0,100..900;1,100..900&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=League+Spartan:wght@100..900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-image: url(./bg-header-desktop.png);
    background-repeat:no-repeat;
    font-size: 18px;
    font-family: "Bai Jamjuree", sans-serif;
}
.container{
    font-family: "Bai Jamjuree", sans-serif;
    margin-top: 80px;
    display: flex;
    justify-content: center;
    font-size: 18px;
    font-weight: 400,600;
}
.head1{
    color:hsl(210, 10%, 33%);
}
 img{
    position: relative;
    left: 250px;
    padding-bottom: 30px;
 } 
 .para{
    margin-left: 50px;
 } 
 .para1{
    width:650px;
    margin-top: 20px;
    color: hsl(210, 10%, 33%);
    line-height: 25px;
 }
 span{
    padding-left: 130px;
 }
 .button{
    padding-top: 30px;
    padding-left: 130px;


 }
 .down{
    height: 40px;
    width: 180px;
    background-color: hsl(171, 66%, 44%);
    border: none;
    border-radius: 25px;
    color: white;
    font-size: 15px;
    box-shadow: 2px  2px 5px 1px  hsl(171, 69%, 68%) ;
    font-weight: 600;
    margin-right: 10px;
 }
 .mac{
    height: 40px;
    width: 180px;
    background-color: hsl(233, 100%, 69%);
    border: none;
    border-radius: 25px;
    color: white;
    font-size: 15px;
    font-weight: 600;
 

 }
.main{
   
    margin-top: 100px;
}
.head{
    margin-left: 450px;
    margin-bottom: 20px;
    color: hsl(210, 10%, 33%);
}
.para2{
    margin-left: 350px;
    color: hsl(201, 11%, 66%);
    width: 600px;
    line-height: 25px;
    font-size: 15px;

}
.image{
    position:relative;
    right: 300px;
}
h2{
    color: hsl(210, 10%, 33%);
}
.middle{
    display: grid;
    grid-template-columns: 2fr 2fr;
    margin-top: 60px;
}
.content{
    padding-top: 70px;
    padding-left: 30px;
}
.para3{
    width: 330px;
    padding-top: 15px;
    font-size: 15px;
    color: hsl(201, 11%, 66%);
    line-height: 25px;
}
.content2{
    margin-top: 40px;
}
.content3{
    margin-top: 40px;
}
.h{
   margin-left: 430px;
   margin-top: 80px;
   color:hsl(210, 10%, 33%);
}
.paragraph{
    margin-left: 320px;
    width:600px;
    color: hsl(201, 11%, 66%);
    font-size: 16px;
    margin-top: 20px;
    line-height: 25px;
    margin-bottom: 80px;
}
.flow{
    margin-left: 450px;
    color: hsl(210, 10%, 33%);
}
.para6{
    margin-left: 500px;
    color: hsl(201, 11%, 66%);
    padding-top: 20px;
    font-size: 15px;
    margin-bottom: 60px;
}
.box{
  
    display: flex;
    justify-content: space-evenly;


}
.pic1{
    position: relative;
    right: 70px;
}
h3{
    margin-left: 120px;
}
.paragraph1{
    width: 380px;
    margin-left: 50px;
    margin-top: 20px;
    line-height: 25px;
    color: hsl(201, 11%, 66%);
}

.pic2{
    position: relative;
    right: 60px;
}
.paragraph2{
    margin-left: 20px;
    width: 400px;
    line-height: 25px;
    color: hsl(201, 11%, 66%);
}
.pic3{
    position: relative;
    right: 60px;
}
.paragraph3{
    margin-left: 20px;
    width: 400px;
    line-height: 25px;
    color: hsl(201, 11%, 66%);
}
.logo{
    margin-top: 100px;
    position: relative;
    right: 200px;
    display: flex;
    justify-content: space-evenly;
}
.paragrapha{
    margin-top: 30px;
    color: hsl(210, 10%, 33%);
    line-height: 25px;
    margin-left: 330px;
    width: 720px;
    font-size: 18px;
}
.headx{
    color:hsl(210, 10%, 33%);
    margin-left: 450px;
    font-size: 30px;
    
}
.parax{
    margin-top: 100px;
}
.buttons{
    padding-top: 50px;
    padding-left: 450px;
}

.ios{
    height: 40px;
    width: 180px;
    background-color: hsl(171, 66%, 44%);
    border: none;
    border-radius: 25px;
    color: white;
    font-size: 15px;
    box-shadow: 2px  2px 5px 1px  hsl(171, 69%, 68%) ;
    font-weight: 600;
    margin-right: 10px;
 }
 .mac2{
    height: 40px;
    width: 180px;
    background-color: hsl(233, 100%, 69%);
    border: none;
    border-radius: 25px;
    color: white;
    font-size: 15px;
    font-weight: 600;
 
 }
 .gridbox{
    width: 100%;
    height: 200px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    margin-top: 250px;
    background-color: whitesmoke;
    
   
    
 }
.copy-image{
    color: hsl(171, 66%, 44%);
    font-size: 100px;
    margin-left: 170px;
    margin-top: 30px;
}
.favicons{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    margin-top: 30px;
    
    
}
.faceinsta{
    position: relative;
    top: 70px;
    gap:50px;
}