
@import url('https://fonts.googleapis.com/css2?family=Barlow+Semi+Condensed:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=League+Spartan:wght@100..900&display=swap');
.container{
    
    background-image: url('./bg-pattern-bottom-desktop.svg');
    background-image: url('./bg-pattern-top-desktop.svg');
    display: flex;
    justify-content: center;
    margin-top: 70px;
    font-size: 15px;
    font-weight: 400,500,700;
    font-family: "League Spartan", sans-serif;
    height: 100%;
    width: 100%;

}
.body{
    height: 500px;
    width: 900px;
    font-weight: 700;
   
   
}
.head1{
    width: 250px;
    color:  hsl(300, 43%, 22%);
    font-weight:solid;
    font-size: 35px;
    
    
}
.para{
    width:400px;
    color:  hsl(303, 10%, 53%);
    line-height: 20px;
}
.box{
    display: flex;
    column-gap: 30px;
    margin-top: 50px;
    
   

}
.star{
    display: flex;
    flex-direction:column;
    float: right;
    position: relative;
    bottom: 190px;
    gap:12px;
    right: 15px;

}
.bar1{
    height: 50px;
    width: 400px;
    background-color: hsl(300, 24%, 96%);
    padding-left: 30px;
    border-radius: 7px;
}
.bar2{
    height: 50px;
    width: 420px;
    background-color: hsl(300, 24%, 96%);
    padding-left: 30px;
    border-radius: 7px;
    position: relative;
    left: 30px;
}
.bar3{
    height: 50px;
    width: 420px;
    background-color: hsl(300, 24%, 96%);
    padding-left: 30px;
    border-radius: 7px;
    position: relative;
    left: 60px;
}
.rev{
    position: relative;
    left: 150px;
    bottom: 20px;
    font-size: 20px;
}
svg{
    position: relative;
    top: 13px;
}
.box1{
    height:200px;
    width:320px;
    background-color: hsl(300, 43%, 22%);
    border-radius: 10px;
}

img{
    border-radius: 50%;
    height: 40px;
    margin-top: 20px;
    margin-left: 30px;
    float: left;
    display: flex;
    margin-right: 20px;

}
.name{
    color:hsl(0, 0%, 100%);
    padding-top:10px;
    line-height: 2px;
}
.para1{
    color:  hsl(333, 80%, 67%);
    font-weight: 400;
}
.par{
    color:hsl(0, 0%, 100%);
    margin-left: 30px;
    margin-top: 30px;
    font-weight: 400;
    line-height: 20px;
    width: 260px;
}
.box2{
        position: relative;
        top:15px;
        background-color:hsl(300, 43%, 22%);
        border-radius: 10px;
        height:200px;
        width:320px;
}

.par2{
    color:hsl(0, 0%, 100%);
    margin-left: 30px;
    margin-top: 30px;
    font-weight: 400;
    line-height: 20px;
    width: 250px;
}
.box3{
    position: relative;
    top:25px;
    background-color:hsl(300, 43%, 22%);
    border-radius: 10px;
    height:200px;
    width: 320px;

}